os:
  - linux

language: php

php:
  - '7.1'

before_script:
  - cd web
  - composer self-update
  - composer install --no-interaction
  - cp ../.travis-env .env
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash
  - nvm install 7.7.1
  - npm install npm@latest -g
  - npm install -g jshint
  - npm install

script:
  - vendor/bin/phpunit --coverage-text
  - phpcs --standard=PSR2 --ignore=app/Http/Controllers/Auth,app/Http/Controllers/Controller.php,app/Http/Controllers/HomeController.php app/Http/Controllers app/Todo.php app/User.php
  - npm run production
  - jshint web/resources/assets/js/*
